* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(241,248,249,1) 0%, rgba(88,88,88,1) 76%);
  }
  
  .top-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .carousel-caption{
      color: #000!important;
  }
  .logo {
    margin-right: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links a,
  .kbc,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #e20b0b98;
    text-decoration: none;
  }
  
  .nav-links li {
    padding: 0px 20px;
  }
  
  .nav-links li a {
    transition: all 0.3s ease 0s;
    color: #000;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 1.5em !important;
  }
  
  .nav-links li a:hover {
    color: #e3e3e3;
    text-decoration: none;
  }
  
  .kbc {
    margin-left: 20px;
    padding: 9px 25px;
    background: radial-gradient(circle, rgba(135,135,135,1) 41%, rgba(88,88,88,1) 84%);
    box-shadow: 3px 3px 14px 1px ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .kbc:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  .container {
    margin: 0 !important;
  }
  @media (min-width: 768px) {
    .container {
      width: 100% !important;
    }
  }
  .container-card{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .container-card .card{
    margin: 1.5%;
    padding: 10px;
    width: 20%;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.26);
    overflow: hidden;
  }
  .container-card .card .caption h3{
      font-weight: 700;
      
  }
  .container-card .card .caption p{
      margin-top: 10%;
  }
  .container-card .card .caption{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 350px;
  }
  .caption button{
    margin-top: 20%;
    margin-bottom: 8px;
    background-color: #04293A; 
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }
  .caption button a{
    color: #fff;
  }
  @media screen and (max-height: 450px) {
    .container{
      height: 40px !important;
    }
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .container-card{
      justify-content: center;
      flex-wrap: wrap;
    }
    .container-card .card{
      width: 300px;
    }
    
  }
  
  @media only screen and (max-width: 800px) {
    .nav-links,
    .kbc {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  