*{
    margin: 0;
    padding: 0;
}
body{

    background: linear-gradient(rgba(0, 0, 0, 0.452),rgba(0, 0, 0, 0.479)),url("https://cityspideynews.s3.amazonaws.com/uploads/spidey/201606/pool-1-of-1_061716075238.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.pool-container{
    display: flex;
    
    flex-direction: column;
}
.pool-container h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #e9b78f;
    margin: 3%;
}
.pool-slots{
    display: flex;
    justify-content: center;
}
.pool-container table{
    background-color: #000000;
    height: 400px;
    width: 50%;
    border-radius: 10px;
    margin-right: 5%;

}
.pool-container table tr{
    width: 40%;
    border: 1px dotted white;
}
.pool-container table th{
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: 2px;
    height: 40px;
}
.pool-container table td{
    padding: 3%;
    border: 1px dotted white;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.booking{
    padding: 2% 4%;
    background-color: rgb(20, 61, 148);
    border-radius: 8px;
    font-size: 1.1rem;
    color: aliceblue;
    
}
.booking:hover{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .pool-container table{
        width: 80%;
    }
  }